#bookingDate .input-group-addon {
    position: absolute !important;
    top: 63% !important;
    left: 100% !important;
    width: 60px !important;
    height: 33px !important;
}
#bookingTime .input-group-addon {
    position: absolute !important;
    top: 63% !important;
    left: 100% !important;
    width: 60px !important;
    height: 33px !important;
}
div.bootstrap-datetimepicker-widget.dropdown-menu.usetwentyfour.bottom {
    width: 100% !important;
    top: 97% !important;
}
.container.index .col-md-12 .col-md-2{
    padding-left: 0;
}
.container.index .col-md-12 {
    padding-left: 0;
}
.container.index .col-md-12 .col-md-5 {
    padding-left: 0;
}
.btn-default.submit {
    margin-top: 25px !important;
}
