<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
<script src="~/js/jquery.unobtrusive-ajax.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
<link href="~/css/hbs.css" rel="stylesheet" type="text/css" />

<div class="container index">
    <h3>ABOUT US</h3>
    <p>If you don't yet offer online bookings for your business you're likely to be losing customers. Most people are now used to the convenience of quick online bookings and are much more likely to choose a business that offers this possibility (especially if making a reservation in a country that uses a different language). Having an online-based booking system also provides enormous advantages to the business owners -- Planyo will group in one place all bookings, the availability calendar, emails with the clients, financial reports, statistics, invoices etc. This becomes even more important if you have more than one person responsible for the bookings. Planyo is a solution that will fulfil all your booking needs in a single easy-to-use service.</p>
</div>
